<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Converter</title>
</head>
<body>
<h1>Конвертер валют</h1>
<form th:action="@{/convert}" method="post">
  <select name="fromCurrency">
    <option value="USD">USD</option>
    <option value="EUR">EUR</option>
    <option value="RUB">RUB</option>
  </select>
  <select name="toCurrency">
    <option value="USD">USD</option>
    <option value="EUR">EUR</option>
    <option value="RUB">RUB</option>
  </select>
  <input type="number" name="amount" placeholder="Сумма" required>
  <button type="submit">Конвертировать</button>
</form>
</body>
</html>
